<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.mapper.KkUserMoneyFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="KkUserMoneyFlowResultMap" type="com.game.entity.KkUserMoneyFlow">
        <id column="id" property="id" />
        <result column="pfm_user_id" property="pfmUserId" />
        <result column="games_flag" property="gamesFlag" />
        <result column="change_type" property="changeType" />
        <result column="change_type_status" property="changeTypeStatus" />
        <result column="change_money" property="changeMoney" />
        <result column="change_balance" property="changeBalance" />
        <result column="opt_user" property="optUser" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
    </resultMap>
    <resultMap id="KkUserMoneyFlowDtoResultMap" type="com.game.dto.KkUserMoneyFlowDto">
                <id column="id" property="id" />
                <result column="pfm_user_id" property="pfmUserId" />
                <result column="games_flag" property="gamesFlag" />
                <result column="change_type" property="changeType" />
                <result column="change_type_status" property="changeTypeStatus" />
                <result column="change_money" property="changeMoney" />
                <result column="change_balance" property="changeBalance" />
                <result column="opt_user" property="optUser" />
                <result column="remark" property="remark" />
                <result column="create_date" property="createDate" />
    </resultMap>
    <resultMap id="KkUserMoneyFlowResponseDtoResultMap" type="com.game.dto.response.KkUserMoneyFlowResponseDto">
                <id column="id" property="id" />
                <result column="pfm_user_id" property="pfmUserId" />
                <result column="games_flag" property="gamesFlag" />
                <result column="change_type" property="changeType" />
                <result column="change_type_status" property="changeTypeStatus" />
                <result column="change_money" property="changeMoney" />
                <result column="change_balance" property="changeBalance" />
                <result column="opt_user" property="optUser" />
                <result column="remark" property="remark" />
                <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pfm_user_id, games_flag, change_type, change_type_status, change_money, change_balance, opt_user, remark, create_date
    </sql>

</mapper>
